
.caixa {
    border: 1px solid black;
    padding: 4px;
}

.tam-1 {
    height: 50px;
}

.tam-2 {
    height: 100px;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}